@font-face {
    font-family: 'FFCocon';
    src: url('/fonts/cocon-regular.otf')
}

html {
    background-color:rgb(8, 13, 20);
    font-family:'FFCocon';
    color:white;
    scroll-behavior: smooth;
}

.qui{
    padding:1em;
    padding-top:5rem;
    font-size-adjust: 2rem;
}

.qui p span{
    color:rgb(0, 132, 255);
}

.competence{
    padding:1em;
    padding-top:5rem;
}
.experience{
    padding:1em;
    padding-top:5rem;
}

.contact ul {
    list-style-type:none;
    font-family:'Arial';
    text-decoration: none;
}

.linkedin img {
    margin:0;
    padding:0;
    width:2rem;
    height:2rem;
}

.linkedin span, .contact li a{
    color:#0077ff;
}

footer, footer a{
    text-align:center;
    color:#0077ff;
}