@font-face {
    font-family: 'FFCocon';
    src: url('/fonts/cocon-regular.otf')
}

html {
    background-color:rgb(8, 13, 20);
    font-family:'FFCocon';
    color:white;
}

.navbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#0077ff;
}

.navbar li {
    display:inline-flex;
    padding: 6px;
    list-style-type:none;
    
}
.navbar a{
    text-decoration: none;
}
.navbar li a:hover{
    color:white;
}

.intro {
    text-align:center;
}

.intro h2{
    text-transform: uppercase;
}

.intro h2 span{
    color:rgb(0, 132, 255);
}

.competence{
    padding:50px;
}

.experience{
    padding:50px;
}

.contact ul {
    list-style-type:none;
    font-family:'Arial';
    text-decoration: none;
}

.linkedin img {
    width:24px;
    height:24px;
}

.linkedin span, .contact li a{
    color:#0077ff;
}

footer, footer a{
    text-align:center;
    color:#0077ff;
}