@font-face {
    font-family: 'FFCocon';
    src: url('/fonts/cocon-regular.otf')
}

html {
    background-color:rgb(8, 13, 20);
    font-family:'FFCocon';
    color:white;
    }

header {
    height:auto;
    width:auto;
    background-color:#5b9dff;
    text-align:center;
    font-size:42px;
}

.navbar, .navbar a{
    list-style-type:none;
    background-color: #0077ff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    height:auto;
    width:100%;
}

.navbar li {
    display:inline;
    padding: 14px 16px;
}

.navbar li a:hover{
    background-color:rgb(80, 80, 80);
}

.intro h1, h2{
    text-transform: uppercase;
}

.intro h2 span{
    color:rgb(0, 132, 255);
}

.intro h4 {
    font-family:Arial;
}

.linkedin img {
    background: #007bb5;
    color: white;
    width:32px;
    height:32px;
  }

.contact ul, li {
    list-style-type:none;
    font-family:'Arial';
    text-decoration: none;
}